{% extends "base.html" %}
{% block title %}


{% endblock %}

{% block content %}
<div class="reg-container">
    <div class="logo">
            
            <img src="{{ url_for('static', filename='files/img/Think-different-Academy_LOGO_oficialni-bile2.png') }}" alt="Logo">
        </div>
    <h3 align="center" class="white">VYTVOŘIT ÚČET</h3> <br>
    <form method="POST" class="reg-form">
        <div class="reg-group">
            <input type="email" id="email" name="email" placeholder="Napište Email"/>
        </div>
        
        <div class="reg-group">
            <input type="text" id="userName" name="userName" placeholder="Napište Uživatelské jméno"/>
        </div>
        <div class="reg-group">
            <input type="password" id="password1" name="password1" placeholder="Napište Heslo"/>
        </div>
        <div class="reg-group">
            <input type="text" id="name" name="name" placeholder="Napište Celé jméno"/>
        </div>
        <div class="reg-group">
            <input type="password" id="password2" name="password2" placeholder="Znovu napište Heslo"/>
        </div>
        
        <div class="regbtn-container">
            <button type="submit" class="regbtn">Vytvořit</button>
        </div>
    </form>
    <div class="reg-links">
        <a href="/login">Již máte účet? Přihlásit se</a>
    </div>
</div>
{% endblock %}
