{% extends "base.html" %}
{% block title %}
Edit password
{% endblock %}

{% block content %}
<style>
body {
 
  background-image: url('/static/files/img/bg2.png');
  
  
  
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */

}
    </style>
<br><br><br><br>
<form class="zaznam" method="POST">
    <h3 align="center">Upravit heslo</h3>
    <div class="form-group">
        <br>
        <input type="password" class="zaznam1" id="password-old" name="password-old" placeholder="Napište staré heslo"/>
    </div>
    <div class="form-group">
         <br>
        <input type="password" class="zaznam1" id="password-new-one" name="password-new-one" placeholder="Napište nové heslo"/>
    </div> <br>
    <div class="form-group">
        
        <input type="password" class="zaznam1" id="password-new-two" name="password-new-two" placeholder="Napište znovu nové heslo"/>
    </div>

  
    <button type="submit" class="zaznambtn">Změnit heslo</button>
</form>
{% endblock %}