{% extends "base.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
    <form class="login" method="POST">
        <!-- Logo nahoře -->
        <div class="logo">
            
            <img src="{{ url_for('static', filename='files/img/Think-different-Academy_LOGO_oficialni-bile2.png') }}" alt="Logo">
        </div>

        <!-- Přihlašovací formulář -->
        <div>
            <input type="text" class="heslo" id="email" name="email" placeholder="Email"/>
        </div>
        <div>
            <input type="password" class="heslo" id="password" name="password" placeholder="Heslo"/>
        </div>
        <button type="submit" class="loginbtn">Přihlásit</button>

        <!-- Odkazy pro vytvoření účtu a obnovení hesla -->
        <div class="links">
            <a href="/create-acc" class="link">Vytvořit účet</a>
            <a href="/reset-acc" class="link">Obnovit heslo</a>
        </div>
    </form>
</div>
{% endblock %}
