<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Vítej, {{ current_user.name }}!</h1>
        <p><strong>Email:</strong> {{ current_user.email }}</p>
        <p><strong>Uživatelské jméno:</strong> {{ current_user.user_name }}</p>
        
        <a href="{{ url_for('views.logout') }}" class="btn">Odhlásit se</a>
    </div>
</body>
</html>


